@{
    ViewBag.Title = "About";
}
<div playsinline loop muted autoplay class="fullscreen-bg__video">
    <video width="700px" height="500px">
        <source src="~/Content/BlueWaves.mp4" type="audio/mp4"  />
    </video>

</div>

